# Just standard .gitignore file for TFC

**/.git/
**/.aws/
**/.idea/
**/.cache/
**/.config/
**/.local/
**/.virtualenv*/
**/venv*/

**/.terraform/
**/*.tfstate*

**/*.tfvars
!**/terraform.auto.tfvars
!**/common.auto.tfvars
!**/terraform.tfvars
!**/tfe_workspace_dependencies.tfvars
!**/*.vcs.tfvars
!**/*.vcs.auto.tfvars

**/lambda/archive/

# Python
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.pyo

.pre-commit-config.yaml
local-paths.sh

# vi/vim
*.swp
